AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignEscapedNewlines: Left
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterReturnType: None
BasedOnStyle: LLVM
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 120
ContinuationIndentWidth: 8
IndentWidth: 4
InsertNewlineAtEOF: true
PenaltyBreakAssignment: 100000
PenaltyReturnTypeOnItsOwnLine: 100000
