[submodule "sources/hydrogen"]
	path = sources/hydrogen
	url = ../hydrogen.git
[submodule "sources/mlibc"]
	path = sources/mlibc
	url = ../mlibc.git
[submodule "sources/uacpi"]
	path = sources/uacpi
	url = ../uacpi.git
